.hero{
    overflow-x: hidden;
    display: flex;
    align-items: center;
   padding:  53px 3px;
    
}
.section-container{
    display: flex;
    flex-direction: column;
  
}
.section-img img{
  width: 5%;
}
.subtitle{
    font-size: 0.9rem;
    background-color: var(--secondary-color);
    padding: 5px 15px;
    border-radius: 20px;
    
    font-weight: bold;
}
.section-container h1{
    font-size: 3rem;
    text-transform: capitalize;
   
}
.section-container p{
    font-size: 1rem;
    text-transform: capitalize;
   color: var(--text-color);
}
.section-box{
    width: 100%;
    margin: auto;
}

.section-box  img ,.section-box  video{
    width: 100%;
    height:300px;
    object-fit: cover;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
}


.subtitlet{
    width: max-content;
    font-size: 0.9rem;
    background-color: var(--secondary-color);
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
}
.services__title{
    font-size: 2rem;
    text-transform: capitalize;
 
}

.counter__box p{
    background-color: var(--secondary-color);
    width: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
   
}
.counter__box h6{
   
    font-size: 1.2rem;
    font-weight: bold;
   
}

.sytle{
    height: 100%;
}

@media only screen and (max-width:480px){
   
   
  
  
  }
  
  
  
  
  /* ========================= muduim resposive ================= */
  
  
  @media only screen and (max-width:992px){
    .hero{
      
       padding:  0px 3px;
        
    }
    .subtitle{
        font-size: 0.7rem;
        background-color: var(--secondary-color);
        padding: 5px 15px;
        border-radius: 20px;
       
        font-weight: bold;
    }
    .section-container h1{
        font-size: 2rem;
     
        
    }
    .subtitlet{
        font-size: 0.7rem;
        background-color: var(--secondary-color);
        padding: 5px 15px;
        border-radius: 20px;
        font-weight: bold;
    }
    .services__title{
        font-size: 2rem;
    }
    .section-container p{
        font-size: 0.8rem;
     
    }
    
    .section-img img{
        width: 15%;
      }


      .counter__box p{
        background-color: var(--secondary-color);
        width: 50px;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        font-size: 0.9rem;
        font-weight: bold;
       
    }
    .counter__box h6{
       
        font-size: 1rem;
        font-weight: bold;
       
    }
  }

  .testTorsim{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

}
.dd{
    overflow: hidden;
}